.vs/WhiteElephantWebsite/v15/Server/sqlite3/storage.ide
.vs/WhiteElephantWebsite/v15/Server/sqlite3/storage.ide-shm
.vs/WhiteElephantWebsite/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
WhiteElephantWebsite/obj/Debug/WhiteElephantWebsite.csproj.CoreCompileInputs.cache
WhiteElephantWebsite/obj/Debug/WhiteElephantWebsite.csprojAssemblyReference.cache