.vs/WhiteElephantWebsite/v15/Server/sqlite3/storage.ide
.vs/WhiteElephantWebsite/v15/Server/sqlite3/storage.ide-shm
.vs/WhiteElephantWebsite/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
WhiteElephantWebsite/obj/Debug/WhiteElephantWebsite.csproj.CoreCompileInputs.cache
WhiteElephantWebsite/obj/Debug/WhiteElephantWebsite.csprojAssemblyReference.cache

.vs/WhiteElephantWebsite/v15/.suo
.vs/WhiteElephantWebsite/v15/Server/sqlite3/storage.ide
.vs/WhiteElephantWebsite/v15/Server/sqlite3/storage.ide-shm
.vs/WhiteElephantWebsite/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
WhiteElephantWebsite/bin/WhiteElephantWebsite.dll
WhiteElephantWebsite/bin/WhiteElephantWebsite.pdb
WhiteElephantWebsite/obj/Debug/WhiteElephantWebsite.csproj.CoreCompileInputs.cache
WhiteElephantWebsite/obj/Debug/WhiteElephantWebsite.csproj.FileListAbsolute.txt
WhiteElephantWebsite/obj/Debug/WhiteElephantWebsite.csprojAssemblyReference.cache
WhiteElephantWebsite/obj/Debug/WhiteElephantWebsite.dll
WhiteElephantWebsite/obj/Debug/WhiteElephantWebsite.pdb

